/**
 * Styles input fields
 * @property .xq-input
 */
.xq-input {
    border: 2px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 2px;
    background-color: #fefefe;
    display: inline-block;
    position: relative;

    &:focus {
        border-color: #bbb;
    }

    &.xq-invalid {
        border-color: #d00;
    }

    .xq-input-field {
        border: 0;
        padding: 0;
    }

    .xq-error-label {
        position: absolute;
        right: 5px;
        bottom: -25px;
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        padding: 5px 2px;
    }
}

/**
 * Forms
 */
.xq-forms {
    dl {
        margin-top: 5px;
    }

    dt {
        font-size: 11px;
        color: #777;
    }

    dd {
        margin-left: 0;
    }
}
