@keyframes xq-anim-popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.xq-inactive {
  display: none;
}
/**
 * Styles input fields
 * @property .xq-input
 */
.xq-input {
  border: 2px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 2px;
  background-color: #fefefe;
  display: inline-block;
  position: relative;
}
.xq-input:focus {
  border-color: #bbb;
}
.xq-input.xq-invalid {
  border-color: #d00;
}
.xq-input .xq-input-field {
  border: 0;
  padding: 0;
}
.xq-input .xq-error-label {
  position: absolute;
  right: 5px;
  bottom: -25px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 2px;
  display: none;
  text-align: center;
}
.xq-input .xq-error-label::before {
  content: '⏶';
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  line-height: 12px;
  margin: auto auto;
  display: inline-block;
  width: 8px;
  height: 8px;
}
.xq-input.xq-invalid .xq-error-label {
  display: block;
  animation: 1s xq-anim-popin;
}
/**
 * Forms
 */
.xq-forms dl {
  margin-top: 5px;
}
.xq-forms dt {
  font-size: 11px;
  color: #777;
}
.xq-forms dd {
  margin-left: 0;
}
.xq-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.xq-list .item {
  list-style: none;
  animation: 1s xq-anim-popin;
}
.xq-tooltip {
  background-color: rgba(0, 87, 193, 0.8);
  color: #ffffff;
  padding: 2px 5px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.xq-tooltip::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: 8px solid rgba(0, 87, 193, 0.8);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
  opacity: .8;
}
