#view1 {
}

#view1 > ul {
	list-style: none;
	border: 1px solid #c0c0c0;
	margin: 0;
	padding: 3px;
	display: block;
	font-size: 0;
}

#view1 > ul > li {
	background-color: #ddd;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	display: inline-block;
	margin: 0 1px;
	color: #666;
	font-weight: bold;

	animation-name: fadein;
	animation-duration: 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}